CompileFlags:
  Remove:
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -mtext-section-literals
    - -free
    - -fipa-pta
  Add:
    - --target=riscv32-esp-elf
    - -isystem/home/max/.local/share/platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/8.4.0
    - -isystem/home/max/.local/share/platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/8.4.0/riscv32-esp-elf
    - -isystem/home/max/.local/share/platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/sys-include
    - -isystem/home/max/.local/share/platformio/packages/toolchain-riscv32-esp/lib/gcc/riscv32-esp-elf/8.4.0/include
